<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


<form action="/app/handleform" method="post">
  <label for="cname">Course Name:</label>
  <input type="text" id="cname2" name="cname2"><br><br>
  <label for="cnum">Course Number:</label>
  <input type="text" id="cnum2" name="cnum2"><br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}